@charset "UTF-8";
/* CSS Document */

body {
	background-color:black;
	align-items: center;
	font-family: "Baskerville" , "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif"; color:lightcoral;
	border-color:transparent;
	outline-color: firebrick;
	text-emphasis-color: firebrick;
	text-align: center;
	font-size:16px;
	font-weight: 300;
	align-self: center;
	alignment-baseline: center;
	}
a:link{color: firebrick; font-size:16px}
a:visited{color: darkslategrey}
a:hover{color:antiquewhite}
a:active{color:red}
